.perfil-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #f4f8e1;
    transition: transform 0.3s ease, background 0.3s ease;
    animation: fadeIn 1s ease;
}

.comingActivitiesContainer{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #f4f8e1;
    transition: transform 0.3s ease, background 0.3s ease;
    animation: fadeIn 1s ease;
}

.Cargando{
    width: 10vh;
    height: 10vh;
}

.fill-Container{
    width: 25%;
    height: 50%;
    background-color: #def7d9;
    padding: 1.5rem;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(169, 244, 166);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.clock-widget {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.analog-clock {
    margin-bottom: 15px;
}

.digital-time {
    font-size: 1.2rem;
    font-weight: bold;
    color: #04914a;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.proxActivitiesSection{
    position: relative;
    bottom: 17vh;
    width: 65%;
    background-color: #edfcd7;
    border-style: solid;
    border-color: rgb(219, 247, 167);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    

    /* width: 65%;
    height: 60%;
    background-color:  #dff7d9;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);*/
}

.profile-section {
    width: 25%;
    background-color: #dff7d9;
    padding: 1.5rem;
    border-style: solid;
    border-color: rgb(198, 236, 188);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-section:hover{
    background-color: #d0e8cb;
    transition: 0.4s;
}

.profile-info {
    margin-bottom: 1rem;
}

.profile-image {
    width: 18vh;
    height: 18vh;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.card2-text{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3b6e4f;
}

.card3-text{
    font-size: 1.5rem;
    font-weight: bold;
    color: #6e6d3b;
}

.username {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3b6e4f;
    margin-bottom: 0.5rem;
}



.email {
    color: #6b6b6b;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.follow-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-button {
    background-color: #ff6b6b;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.delete-button:hover{
    background-color: #e65f5f;
    transition: 0.5s;
}

.modify-button {
    background-color: #bbf87e;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}


.modify-button:hover{
    background-color: #aee776;
    transition: 0.5s;
}

.calendar-section {
    width: 65%;
    height: 60%;
    background-color:  #dff7d9;
    border-style: solid;
    border-color: rgb(198, 248, 197);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


.recent-activities {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activity-card {
    background-color: #c7fad5;
    border-radius: 8px;
    padding: 1vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.activity-card:hover{
    background-color: #b5f1c5;
    transition: 0.4s
}

.proxactivity-card {
    background-color: #eafac7;
    border-radius: 8px;
    padding: 1vh;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.proxactivity-card:hover{
    background-color: #dff1c2;
    transition: 0.4s;
}

.proxactivity-card p {
    margin: 0.5vh 0;
}

.activity-card p {
    margin: 0.5vh 0;
}

.error-message {
    color: red;
    text-align: center;
}
